---
layout: archive
title: "Posts by Collection"
permalink: /collection-archive/
author_profile: true
---

{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    {% if label != written_label %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in collection.docs %}
    {% unless collection.output == false or collection.label == "posts" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}




<!-- 如保存为.html则如上；

如保存为为.md文件：

---
# title: "Posts by Year"
title: "All posts"
permalink: /year-archive/
layout: posts
author_profile: true
---
[按分类](/categories/){: .btn .btn--primary} [按标签](/tags/){: .btn .btn--primary} [按时间⬇️](/year-archive/){: .btn .btn--primary}  -->


 -->